# List Functions

# len()

In [1]:
my_list = [10,40,30,60,50]


print(len(my_list))

5

In [2]:
my_list = [10,40,30,60,50]

x = len(my_list)

print("Length of list =",x)

Length of list = 5

# sum()

In [3]:
my_list = [10,40,30,60,50]


print(sum(my_list))

190

In [4]:
my_list = [10,"Indore",30,60,50]


print(sum(my_list))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [6]:
"A"+"Deesa"+"B"

'ADeesaB'

In [8]:
my_list = ["A","Deesa","B"]


print(sum(my_list))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# max()

In [9]:
my_list = [10,20,30,60,50]


print(max(my_list))

60

In [10]:
my_list = [10,"Bike",30,60,50]


print(max(my_list))

TypeError: '>' not supported between instances of 'str' and 'int'

In [11]:
10 > "Bike"

TypeError: '>' not supported between instances of 'int' and 'str'

# min()

In [12]:
my_list = [10,20,30,60,50]


print(min(my_list))

10

In [13]:
my_list = ["A","B","C","D"]


print(min(my_list))

A

#ASCII

A - 65
B - 66
Z - 90

space - 32

a - 97
b - 98
z - 122

In [14]:
my_list = ["a","b","C","x"]


print(max(my_list))

x

# sorted()

In [15]:
my_list = ["D","B","C","D"]


print(sorted(my_list))

['B', 'C', 'D', 'D']

In [16]:
my_list = [100,"B","C","D"]


print(sorted(my_list))

TypeError: '<' not supported between instances of 'str' and 'int'

In [17]:
my_list = [10,20,30,60,50]


print(sorted(my_list))  # ascending order

[10, 20, 30, 50, 60]

In [18]:
my_list = [10,20,30,60,50]


print(sorted(my_list, reverse=True))  # desc order

[60, 50, 30, 20, 10]

# list()

In [19]:
int()
float()
str()
list()

[]

In [20]:
a = 10

print(list(a))

TypeError: 'int' object is not iterable

In [21]:
t = (1,2,3,4)

print(list(t))

[1, 2, 3, 4]

In [22]:
print(list("Indore"))

['I', 'n', 'd', 'o', 'r', 'e']